* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
}

.app_sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #000000;
}

.app_main{
  margin-left: 200px;
  background-color: #1d1d1d; 
  width: 100%;
  height: 100%;
}